@charset "utf-8";

/* 레이아웃 */
#wrap{width: 1920px; margin: 0 auto;}
#header_top{position: absolute;
    width: 1920px;
    height: 40px;}
#header_nav{top: 40px;
    width: 1920px;
    height: 80px;
    position: absolute;}
#banner{width: 1920px; height: 630px; background: url(/images/pc_ban01.png);}
#contents{width: 1920px; }
#footer_nav{width: 1920px; height: 50px; background: #5e5e5e;}
#footer_info{width: 1920px; height: 140px; background: #4d4d4d;}


/* 컨텐츠 레이아웃 */
#content01{width: 1920px; height: 200px; }
#content02{width: 1920px; height: 390px; background: #f6fbff;}
#content03{width: 1920px; height: 620px; }
#content04{width: 1920px; height: 470px; background: #f7f7f7;}

/* 컨테이너 */
.container{width: 1200px; margin: 0 auto; height: inherit; }


/* header_top */
.top_menu{ float: right; }    
.top_menu a{float: left; padding-left: 20px; line-height: 40px; color: #eee;}

.gnb{ margin: 0 auto;}
.gnb a{float: left; width: 150px; height: 58px; padding-top: 8px; }
.gnb .menu{float: right; line-height: 80px; color: #eee;}
.gnb .menu ul{float: left; padding-left: 60px; font-size: 16px; }
.gnb .menu a{float: left; width: 24px; padding-left: 40px;}

.gnb .menu_all {display: none; width: 1280px; height: 240px; background: #999; padding-top: 40px;}
.gnb .menu_all ul{float: right; margin-left: 10px; }
.gnb .menu_all ul li{ line-height: 40px; padding-right: 60px; font-size: 16px;}

.notice_list {position: absolute; TOP: 570PX; left: 26.8%; width: 1556px; height: 60px; background: #0056b7;}
.notice_list ul{ padding-left: 40px; line-height: 60px; color: #fff; }

/* banner */
.ban .ban_copy{position: absolute; color: #fff; left: 360px; top: 240px;}
.ban .ban_copy li {line-height: 24px;}
.ban .ban_copy li:nth-child(1) {font-size: 30px; padding-bottom: 20px; }
.ban .ban_copy .ghost-button{
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    margin-top: 40px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    text-decoration: none;
}


.ban{width: 1920px; height: 630px; margin: 0 auto;}

.ban img{width: 1920px; height: 630px;}

/* content01 */
.boxes{width: 1200px; margin:0 auto;  }
.boxes ul {float: left; width: 270px; height: 150px;  margin-right:30px; padding-top: 40px;}
.boxes ul li { text-align: center; padding-bottom: 20px; }
.boxes ul li:last-child {padding-bottom: 0; }
.boxes ul li a { width: 68px; height: 68px; }
.boxes ul li span { text-align: center; padding-top: 40px;}

/* content02 */
/*  
.roll_list {position: relative; width: 1200px; height: 270px; padding: 60px 0;}
.roll_list a.prev {position: absolute; top: 180px; width: 20px; height: 40px; background: url(../images/pre_arrow.png);} 
.roll_list a.next {position: absolute; right: 0px; top: 180px; width: 20px; height: 40px; background: url(../images/next_arrow.png);}
.roll_list ul {width: 1120px; height: 270px; margin: 0 auto; overflow: hidden;}
.roll_list ul li {float: left; }

.roll_list ul li.roll_img01 {text-align: left;}
.roll_list ul li.roll_img02 {text-align: center;}
.roll_list ul li.roll_img03 {text-align: right;}
.roll_list ul li img {border: 4px solid #dcdcdc;}
*/


/* 슬릭 배너 */
.roll_list {position: relative; width: 1120px; height: 270px; padding-top: 60px; margin: 0 auto; overflow: hidden;}
.roll_list .slick-prev {position: absolute; top: 180px; width: 20px; height: 40px; background: url(../images/pre_arrow.png); }
.roll_list .slick-next {position: absolute; right: 0px; top: 180px; width: 20px; height: 40px; background: url(../images/next_arrow.png);}
.roll_list div{width: 1120px; height: 270px; margin: 0 auto;}
.roll_list img {border: 4px solid #dcdcdc; overflow: hidden;}
.roll_list img:hover {border-color: #98bcdc;}
.roll_list .slick-slide {margin: 10px;}
.roll_list .slick-dots {position: absolute; bottom: 15px; display: block; width: 100%; text-align: center;}
.roll_list .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 5px;}
.roll_list .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; cursor: pointer; background: #5dbfeb; border-radius: 50%;}
.roll_list .slick-dots li.slick-active button {background: #2b91c8;}


/* 
.roll_list{width: 1200px; height: 270px; padding-top: 60px; margin: 0;}
.roll_list a.prev{position: absolute; float:left; width: 20px; height: 40px; background: url(../images/pre_arrow.png);}
.roll_list a.next{position: absolute; width: 20px; height: 40px; background: url(../images/next_arrow.png);}
.roll_list ul.list {width: 1120px; height: 270px; margin: 0 auto; overflow: hidden; }
.roll_list ul.list li{float:left; width: 1120px; height: 270px; background: #999;}
.roll_list ul.list .roll_img01{width: 1200px; height: 270px; margin: 0 auto;}
.roll_list ul.list .roll_img01 img{float: left; width: 360px; height: 270px; }
.roll_list ul.list .roll_img01 .copy {float: left; width: 700px; height: 270px; margin-left: 60px;}
.roll_list ul.list .roll_img01 .copy p{font-weight: bold; font-size: 20px; font-weight: bold; padding-bottom: 40px;}
.roll_list ul.list .roll_img01 .copy span{font-weight: bold;  font-size: 16px; font-weight: bold; padding-top: 40px; }
.roll_list ul.list .roll_img01 .copy .text{ padding-top: 20px; float: right; width: 700px; height: 156px;}
.roll_list ul.list .roll_img01 .copy .text li{line-height: 24px; }


.roll_list .list02{ display:none; padding-left: 60px; }
.roll_list .list03{ display:none; padding-left: 60px; }
*/





/* 
.ban{position: relative; top: 0; width: 1920px; height: 400px; }

.ban ul li{float: left;}
.ban ul li.ban_img1{text-align: left;}
.ban ul li.ban_img2{text-align: center;}
.ban ul li.ban_img3{text-align: right;}
 */




/* content03 */
.con3 {width: 1200px; height: 500px; padding-top: 60px; }
.con3 .con3_1{float: left; width: 500px; height: 460px; border: 20px solid #0056b7; background: #fff; }
.con3 .con3_1 .copy {width: 440px; margin: 0 auto; padding-top: 40px; }
.con3 .con3_1 .copy .tit {  font-size: 18px; font-weight: bold;  }
.con3 .con3_1 .copy .tit li{ float: left;}
.con3 .con3_1 .copy .tit li.btn {float: right; font-size: 14px; color: #999; text-decoration: underline;}


.con3 .con3_1 .copy .sub{ padding-top: 60px;}
.con3 .con3_1 .copy .sub li:last-child{padding-top: 20px; font-size: 12px; color: #999;}

.con3 .con3_1 .point{width: 440px; height: 140px; margin: 0 auto; padding-top: 80px;}
.con3 .con3_1 .point ul{float: left; padding-right: 70px;  }
.con3 .con3_1 .point ul:last-child{ padding-right: 0;}

.con3 .con3_1 .point ul li{ text-align: center; padding-bottom: 10px;}
.con3 .con3_1 .point ul li b{ font-size: 40px; color: #eb1c22;}

.con3 .con3_1 .point ul li:nth-child(2){ text-align: middle; }
.con3 .con3_1 .point ul li:nth-child(3){ padding-bottom: 0px;}


.con3 .con3_2{float: right; width: 600px; height: 500px; padding-left: 60px; }
.con3_2 .copy{float:left; width: 600px; height: 76px;}

.con3_2 .copy ul li{float: left; padding-top: 20px;}
.con3_2 .copy ul.tit {font-size: 18px; font-weight: bold;}
.con3_2 .copy ul li.btn { float: right; font-size: 14px; color: #999; text-decoration: underline;}

.con3_2 .results{width: 520px; float: left; padding-top:40px; margin: 0 50px;}
.con3_2 .results ul{width: 520px; height: 160px; }
.con3_2 .results ul:last-child{width: 520px; height: 150px; padding-top: 50px; }

.con3_2 .results ul li.img{float: left;}
.con3_2 .results ul li.copy{float: right; width: 350px; height: 150px;}
.con3_2 .results ul li.copy p{ font-weight: bold;}

.con3_2 .results ul li.copy b{ font-size: 40px; color: #eb1c22;}
.con3_2 .results ul li.copy span{padding-top: 10px; }
.con3_2 .results ul li.copy span:nth-child(1){font-weight: bold; }



/* contents04 */
.tab{ text-align: center; padding-top: 40px;}
.tab a{ font-weight: bold; font-size: 20px; padding-right: 60px;}
.tab a:last-child{ padding-right: 0px;}

.con4{padding-top: 40px;}
.con4 ul{float: left; width: 380px; height: 300px; background: #fff; border: 1px solid #e1e1e1; margin-right: 20px; }
.con4 ul:last-child{float:right; margin-right: 0px; }
.con4 ul li{ width: 340px; margin: 0 auto; padding-top: 20px;}
.con4 ul li:last-child{padding-top:0px;}

.con4 ul li.copy{width: 340px;  padding-top: 10px;}
.con4 ul li.copy p{font-weight: bold; }
.con4 ul li.copy span{ font-size: 14px; color: #999; }


/* footer */
.footer_nav{line-height: 50px; background: #5e5e5e;}
.footer_nav a{padding-right: 20px;  color: #fafafa;}
.footer_nav ul{float: right; width: 250px; height: 50px; background: #525252;}
.footer_nav ul li{float: left; }
.footer_nav ul li:nth-child(1){float: left; padding-left: 20px; color: #fff; }
.footer_nav ul li:nth-child(2){padding-left: 76px; line-height: 50px; }
.footer_nav ul li:last-child{width: 50px; height: 50px; float: right; }

.footer_info{ padding-top:40px; }
.footer_info a{float: left; padding-right:40px; }
.footer_info ul{float: left; padding-top:20px; color: #fafafa; }