@charset "utf-8";

/* 레이아웃 */
#wrap{width: 1920px; margin: 0 auto;}
#header_top{width: 1920px; height: 40px; background: #fafafa;}
#header_nav{width: 1920px; height: 80px; background: #fff;}
#banner{width: 1920px; }
#contents{width: 1920px; }
#footer{width: 1920px; height: 200px; background: #fafafa; }



/* 컨텐츠 레이아웃 */
#content01{width: 1920px; height: 200px; }
#content02{width: 1920px; height: 390px; background: #f6fbff;}
#content03{width: 1920px; height: 620px; background: #999;}
#content04{width: 1920px; height: 428px; background: #eee;}

/* 컨테이너 */
.container{width: 1280px; margin: 0 auto; height: inherit; }


/* header_top */
.top_menu{ width: 300px;  height: 16px;  float: right; }    
.top_menu a{float: left; padding-right: 20px; line-height: 40px;}

.gnb{ margin: 0 auto;}
.gnb a{float: left;}
.gnb .menu{float: right; margin-left: 60px;}
.gnb .menu ul{float: right; }
.gnb .menu ul li{float: left; line-height: 80px; padding-right: 60px; font-size: 16px;}

.notice_list {position: absolute; TOP: 690PX; left: 28%; width: 1540px; height: 60px; background: #0056b7;}
.notice_list ul{ padding-left: 40px; line-height: 60px; color: #fff;   }

/* banner */
.ban{width: 1920px; height: 630px; margin: 0 auto;}
.ban img{width: 1920px; height: 630px;}

/* content01 */
.boxes{width: 1200px; margin:0 auto;  }
.boxes ul {float: left; width: 270px; height: 150px;  margin-right:30px; padding-top: 40px;}
.boxes ul li { text-align: center; padding-bottom: 20px; }
.boxes ul li:last-child {padding-bottom: 0; }
.boxes ul li a { width: 68px; height: 68px; }
.boxes ul li span { text-align: center; padding-top: 40px;}

/* content02 */
.roll_list{width: 1120px; height: 270px; padding-top: 40px; margin: 0 auto;}
.roll_list .list_copy{ float: right; padding-left: 60px; width: 700px;}
.roll_list .list_copy p{ font-weight: bold; font-size: 20px; font-weight: bold; padding-bottom: 40px;}
.roll_list .list_copy span{font-weight: bold;  font-size: 16px; font-weight: bold; padding-top: 40px; }
.roll_list .list_copy ul{line-height:24px; padding-top: 16px;}


/* content03 */
.con3 {width: 1200px; height: 500px; padding-top: 60px; }
.con3 .con3_1{float: left; width: 540px; height: 500px; border: 16px solid #0056b7; background: #fff; }
.con3 .con3_1 .copy {width: 446px; margin: 0 auto; padding-top: 40px; }
.con3 .con3_1 .copy .tit {  font-size: 18px; font-weight: bold;  }
.con3 .con3_1 .copy .tit li{ float: left;}
.con3 .con3_1 .copy .tit li.btn {text-decoration: underline; float: right; font-size: 14px; color: #999;}


.con3 .con3_1 .copy .sub{ padding-top: 60px;}
.con3 .con3_1 .copy .sub li:last-child{padding-top: 20px; font-size: 12px; color: #999;}

.con3 .con3_1 .point{width: 446px;margin: 0 auto; padding-top: 80px;}
.con3 .con3_1 .point ul{  height: 140px; float: left; padding-right: 70px;  }
.con3 .con3_1 .point ul:last-child{ padding-right: 0;}

.con3 .con3_1 .point ul li{ text-align: center; padding-bottom: 10px;}
.con3 .con3_1 .point ul li b{ font-size: 40px; color: #eb1c22;}

.con3 .con3_1 .point ul li:nth-child(2){ text-align: middle; }
.con3 .con3_1 .point ul li:nth-child(3){ padding-bottom: 0px;}


.con3 .con3_2{float: right; width: 540px; height: 500px; padding-left: 60px; background: #fff; }